<ng-container *ngIf="(tripsStatus$ | async) === 'loading'">
  <div class="w-full h-full flex flex-col flex-grow items-center justify-center">
    <app-loading-spinner></app-loading-spinner>
  </div>
</ng-container>

<ng-container *ngIf="(trips$ | async)?.length === 0 && (tripsStatus$ | async) === 'success'">
  <div class="flex flex-col items-center justify-center flex-grow bg-bg py-10 gap-[6rem]">
    <h2
      class="ml-10 font-poppins text-icon text-[2rem] font-bold tracking-[0.1em]"
    >Plan your first trip ...</h2>
    <button
      (click)="onBeginClick()"
      class="flex justify-center items-center cursor-pointer text-bg bg-accent tracking-[0.2em] w-48 text-[0.75rem] shadow-shadow-normal transition-all duration-[0.3s] px-0 py-[0.6rem] rounded-lg border-[none] font-poppins hover:bg-accent-shade active:bg-accent-shade hover:shadow-shadow-focus active:shadow-shadow-focus"
    >Begin
    </button>
  </div>
</ng-container>

<ng-container *ngIf="(trips$ | async)?.length !== 0 && (tripsStatus$ | async) === 'success'">
  <div class="relative flex flex-col items-center justify-center flex-grow bg-bg py-4 px-6 gap-4">
    <button
      (click)="onAddTrip()"
      class="absolute z-50 fixed right-4 top-4 flex justify-center items-center cursor-pointer bg-accent shadow-shadow-normal transition-all duration-[0.3s] p-3 rounded-full border-[none] font-poppins hover:bg-accent-shade active:bg-accent-shade hover:shadow-shadow-focus active:shadow-shadow-focus"
      nz-popover
      nzPopoverContent="Add a new trip"
      type="button"
    ><span class="text-bg text-[1.5rem]" nz-icon nzType="plus"></span>
    </button>
    <div class="flex w-full">
      <h2
        class="font-poppins text-icon text-[1.25rem] font-bold tracking-[0.1em] my-3"
      >Upcoming trips ...</h2>
    </div>
    <app-trip-item
      *ngFor="let trip of (trips$ | async); trackBy: tripName"
      [tripName]="trip.tripName"
      [trip]="trip"
      class="w-full"
    ></app-trip-item>
  </div>
</ng-container>
