<app-alert
  (close)="onHandleError()"
  *ngIf="error !== ''"
  [message]="error"
></app-alert>
<div class="flex flex-col w-full items-center justify-center flex-grow bg-bg px-7 py-3">
  <div class="flex flex-col w-full mb-6">
    <h2
      class="font-poppins text-icon text-[1.75rem] font-semibold tracking-[0.15em] mb-[-0.25rem]"
    >{{trip?.tripName}}</h2>
    <p class="text-text-gray text-[1rem] tracking-[0.2em] italic"
    >{{trip?.tripDescription}}</p>
  </div>
  <div class="grid grid-rows-3 gap-2 place-content-stretch w-full mb-7">
    <button
      (click)="onEditTrip()"
      class="cursor-pointer text-bg bg-accent tracking-[0.2em] w-full text-[0.75rem] shadow-shadow-normal transition-all duration-[0.3s] py-[0.6rem] rounded-lg border-[0.01rem] font-poppins hover:bg-accent-shade active:bg-accent-shade hover:shadow-shadow-focus active:shadow-shadow-focus"
      type="button"
    >Edit trip
    </button>
    <button
      (click)="onAddActivity()"
      class="cursor-pointer text-bg bg-icon tracking-[0.2em] w-full text-[0.75rem] shadow-shadow-normal transition-all duration-[0.3s] py-[0.6rem] rounded-lg border-[0.01rem] font-poppins hover:shadow-shadow-focus active:shadow-shadow-focus"
      type="button"
    >Add an activity
    </button>
    <button
      (click)="onDeleteTrip()"
      class="cursor-pointer text-accent-shade bg-line-gray tracking-[0.2em] w-full text-[0.75rem] shadow-shadow-normal transition-all duration-[0.3s] py-[0.6rem] rounded-lg border-[none] font-poppins hover:bg-line-gray-shade hover:shadow-shadow-focus active:shadow-shadow-focus"
      type="button"
    >Delete trip
    </button>
  </div>
  <h3 class="text-icon font-semibold italic text-[1.25rem] tracking-[0.1em] mb-4"
  >{{trip?.tripName}} activities</h3>
  <div class="flex flex-col flex-grow w-full">
    <app-activity-item
      *ngFor="let activity of activities; trackBy: activityName"
      [activityNameRoute]="activityNameRoute(activity)"
      [activity]="activity"
      class="w-full"
    ></app-activity-item>
  </div>
</div>
