<h1 class="text-3xl font-bold font-poppins">
  Hello world!
</h1>
<div class="font-poppins h-full flex flex-col grid-flow-col gap-4 overflow-auto bg-color-tint-2 p-4 lg:p-8 lg:gap-6">
  <ul class="flex flex-col gap-4 mt-16 sm:grid sm:grid-cols-2 sm:gap-5 md:grid-cols-3 lg:gap-8">
    <li class="flex flex-col justify-center items-start gap-3 shadow-shadow-normal bg-color-shade-2 pl-12 pr-3 py-4 rounded-lg hover:shadow-shadow-focus active:shadow-shadow-focus hover:bg-color-contrast-darker active:bg-color-contrast-darker">
      <div class="text-[2rem] text-color-tint-1">
        <p class="heading-text">flight</p>
        <p class="info-text">ZSW 764</p>
      </div>
      <div class="velocity">
        <p class="heading-text">velocity</p>
        <p class="info-text">987 km/h</p>
      </div>
      <div class="altitude">
        <p class="heading-text">altitude</p>
        <p class="info-text">876 m</p>
      </div>
    </li>
  </ul>
</div>
