<app-alert
  (close)="onHandleError()"
  *ngIf="error"
  [message]="error"
></app-alert>
<div class="flex flex-col flex-grow bg-bg py-5 px-5 gap-[1.5rem]">
  <div class="flex w-full">
    <h2
      class="font-poppins text-icon text-[1.25rem] font-bold tracking-[0.1em] my-2"
    >Add a new trip ...</h2>
  </div>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="tripForm"
    class="flex flex-col flex-grow justify-center gap-6 mx-3 py-6 px-6 shadow-shadow-focus font-poppins tracking-[0.1em] rounded-lg">
    <div class="flex flex-col flex-grow gap-6">
      <div class="flex flex-col gap-1 text-icon text-[0.8rem]">
        <label for="tripName">Trip name</label>
        <input
          class="h-[2rem] pl-3 rounded-md shadow-shadow-normal focus:outline-none focus:shadow-shadow-focus"
          formControlName="tripName"
          id="tripName"
          type="text">
      </div>
      <div class="flex flex-col gap-1 text-icon text-[0.8rem]">
        <label for="tripDescription">Trip description</label>
        <input
          class="h-[2rem] pl-3 rounded-md shadow-shadow-normal focus:outline-none focus:shadow-shadow-focus"
          formControlName="tripDescription"
          id="tripDescription"
          type="text">
      </div>
    </div>
    <div class="flex justify-center gap-4">
      <button
        (click)="onGoToActivities()"
        *ngIf="activities"
        [disabled]="!tripForm.valid"
        class="cursor-pointer text-bg bg-icon tracking-[0.2em] w-40 text-[0.75rem] shadow-shadow-normal transition-all duration-[0.3s] px-0 py-[0.6rem] rounded-lg border-[0.01rem] font-poppins hover:shadow-shadow-focus active:shadow-shadow-focus"
        type="button"
      >{{editMode ? 'Edit activities' : 'Go to activities'}}
      </button>
      <button
        (click)="onAddActivity()"
        [disabled]="!tripForm.valid"
        class="cursor-pointer text-bg bg-icon tracking-[0.2em] w-40 text-[0.75rem] shadow-shadow-normal transition-all duration-[0.3s] px-0 py-[0.6rem] rounded-lg border-[0.01rem] font-poppins hover:shadow-shadow-focus active:shadow-shadow-focus"
        type="button"
      >Add an activity
      </button>
    </div>
    <div class="flex items-center justify-center gap-4">
      <button
        [disabled]="!tripForm.valid"
        class="cursor-pointer text-bg bg-accent tracking-[0.2em] w-28 text-[0.75rem] shadow-shadow-normal transition-all duration-[0.3s] px-0 py-[0.6rem] rounded-lg border-[none] font-poppins hover:bg-accent-shade active:bg-accent-shade hover:shadow-shadow-focus active:shadow-shadow-focus"
        type="submit"
      >Save
      </button>
      <button
        (click)="onCancel()"
        class="cursor-pointer text-accent-shade bg-line-gray tracking-[0.2em] w-28 text-[0.75rem] shadow-shadow-normal transition-all duration-[0.3s] px-0 py-[0.6rem] rounded-lg border-[none] font-poppins hover:bg-line-gray-shade hover:shadow-shadow-focus"
        type="button"
      >Cancel
      </button>
    </div>

  </form>
</div>

<!-- Activity submission -->
<!--<div class="flex items-center justify-center gap-4">-->
<!--  <button-->
<!--    (click)="onSaveActivity()"-->
<!--    [disabled]="!tripForm.valid"-->
<!--    class="cursor-pointer text-bg bg-accent tracking-[0.2em] w-28 text-[0.75rem] shadow-shadow-normal transition-all duration-[0.3s] px-0 py-[0.6rem] rounded-lg border-[none] font-poppins hover:bg-accent-shade active:bg-accent-shade hover:shadow-shadow-focus active:shadow-shadow-focus"-->
<!--    type="button"-->
<!--  >Save activity-->
<!--  </button>-->
<!--  <button-->
<!--    (click)="onDeleteActivity()"-->
<!--    class="cursor-pointer text-accent-shade bg-line-gray tracking-[0.2em] w-28 text-[0.75rem] shadow-shadow-normal transition-all duration-[0.3s] px-0 py-[0.6rem] rounded-lg border-[none] font-poppins hover:bg-line-gray-shade hover:shadow-shadow-focus"-->
<!--    type="button"-->
<!--  >Delete activity-->
<!--  </button>-->
<!--</div>-->
